h2.mb-3:nth-child(1){
	text-align: center;
}
h2.mb-3:nth-child(4){
	text-align: center;	
}
h4.mb-3{
	text-align: center;
}
.col-lg-8 > p:nth-child(6){
	text-align: center;
}
h2.mb-3:nth-child(15){
	text-align: center;
}
.col-lg-8 > p:nth-child(18){
	text-align: center;
}